{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="comenzi_reciclare">
  {% for comanda in user_comm_table %}
  <li class="list-group-item">
    <p>Type of Recycle: {{ comanda.type_of_recycle }}</p>
    <p>Quantity (in tons): {{ comanda.quantity_int_tone }}</p>
    text 
    <!-- Optionally, add a delete button here -->
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <label for="type_of_recycle">Type of Recycle:</label>
  <input type="text" name="type_of_recycle" id="type_of_recycle" class="form-control" required>
  <br>
  <label for="quantity_int_tone">Quantity (in tons):</label>
  <input type="number" name="quantity_int_tone" id="quantity_int_tone" class="form-control" required>
  <br>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Data</button>
  </div>
</form>
{% endblock %}
